.calendar-container {
  background-color: #FFFFFF;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
  border: 1px solid #E5E5E5;
}
.emoji {
  font-size: 1.2rem;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px; /* fixe et identique pour toutes les cases */
  line-height: 1;
}


/* Calendrier React */
.react-calendar {
  border: none;
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.react-calendar__tile--now {
  background: #D9D6E5 !important;
  border-radius: 8px !important;
}

.react-calendar__tile--active {
  background-color: #A4C8E1 !important;
  color: white !important;
  border-radius: 8px !important;
}

.react-calendar__tile:hover {
  background-color: #E6E3F2;
  border-radius: 8px !important;
}