.calendar-container {
  padding: 0; /* on laisse le padding à la section */
  margin: 0;
  border: none; /* supprimer les bordures redondantes */
  background-color: transparent;
  box-shadow: none;
  text-align: center;
}

.emoji {
  font-size: 1.2rem;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px; /* fixe et identique pour toutes les cases */
  line-height: 1;
}


/* Calendrier React */
.react-calendar {
  border: none;
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.react-calendar__tile--now {
  background: #D9D6E5 !important;
  border-radius: 8px !important;
}

.react-calendar__tile--active {
  background-color: #A4C8E1 !important;
  color: white !important;
  border-radius: 8px !important;
}

.react-calendar__tile:hover {
  background-color: #E6E3F2;
  border-radius: 8px !important;
}